<h2 class="h2 text-primary">List of All Authors</h2>

<div class="container pb-5">
  <div class="row">
    <div class="col">
      <%= pagy_bootstrap_nav(@pagy).sub('class="pagination"', 'class="pagination  justify-content-end"').html_safe  %>
    </div>
  </div>
  <div class="row">
    <div class="col">
       <ol class="list-group">
          <li class="list-group-item active font-weight-bold text-uppercase">All Authors</li>
          <% @authors.each_with_index do |author, index| %>
            <li class="list-group-item">
                <%= index %>. <%= link_to author.name, author ,class:"text-dark" %>
            </li>
          <% end %>
      </ol>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col">
      <%= pagy_bootstrap_nav(@pagy).sub('class="pagination"', 'class="pagination  justify-content-end"').html_safe  %>
    </div>
  </div>
</div>

