<h2 class="h2 text-primary"><%=@customer.name%></h2>
<div class="container pb-5">
  <div class="row">
    <div class="col">
      <ul>
        <li><%=@customer.longtitude%>
        <li><%=@customer.longtitude%>
      </ul>
    </div>
  </div>
</div>